body{
    background-color: black;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(90deg, #ff6a00, #ee0979, #ffcc00); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

form{
    background-color: rgb(53, 53, 53);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

input[type="text"], select{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background: linear-gradient(90deg, #ff6a00, #ee0979, #ffcc00);
    background-size: 200% 200%; /* for smooth animation */
    color: #1a1a1a;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

button:hover {
    background-position: right center;
    color: #1a1a1a;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
}

footer{
    text-align: center;
    padding: 20px 0;
    color:white;
    background-color: #1a1a1a;
    font-size: 14px;
}